*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.songs h1{
    background-color: black;
    color: tomato;
    text-align: center;
}

.songs .songs-list{
    display: flex;
    width: 20%;
    background-color: blueviolet;
    color: white;
    justify-content: space-between;
    border: 1px solid red;
}